name: Telegram Push File

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  push_to_tg:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 下载文件
        run: curl -L -o Senflare-Pro.txt https://raw.githubusercontent.com/yifangip/Senflare-IP/refs/heads/main/Senflare-Pro.txt

      - name: 对比文件哈希
        id: compare
        run: |
          NEW_HASH=$(sha256sum Senflare-Pro.txt | awk '{print $1}')
          OLD_HASH=$(cat .last_version.txt 2>/dev/null || echo "")
          if [ "$NEW_HASH" != "$OLD_HASH" ]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      - name: 推送到 Telegram
        if: steps.compare.outputs.changed == 'true'
        env:
          BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: curl -F document=@Senflare-Pro.txt \
                 -F caption="Senflare-Pro.txt 文件已更新！" \
                 "https://api.telegram.org/bot${BOT_TOKEN}/sendDocument?chat_id=${CHAT_ID}"

      - name: 保存哈希
        if: steps.compare.outputs.changed == 'true'
        run: sha256sum Senflare-Pro.txt | awk '{print $1}' > .last_version.txt
